/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
**/.DS_Store
node_modules/*
public/css/* 
public/js/*
/.clj-kondo/
**.clj-kondo/
**/.clj-kondo/
**/.clj-kondo/*
/.lsp/
jmeter.log
.shadow-cljs
resources/config.edn
resources/config.test.edn
swift-ticketing.iml
