{:source-paths ["cljs-src"]
 :dependencies [[binaryage/devtools "1.0.6"]
                [nrepl "1.0.0"]
                [reagent "1.1.1"]
                [cljs-ajax "0.7.5"]
                [camel-snake-kebab "0.4.3"]
                [clj-commons/secretary "1.2.4"]
                [venantius/accountant "0.2.5"]
                [adzerk/env "0.4.0"]
                [reagent-utils "0.3.8"]]
 :builds       {:app {:target     :browser
                      :output-dir "public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [swift-ticketing-ui.core]}}
                      :devtools   {:after-load swift-ticketing-ui.core/mount-root}}}

 :dev-http     {3000 {:root "public"}}}
